body{
  margin: 0;
  padding: 0;
}

.hack{
  width: 100vw;
  height: 100vh;
}

.hack-menu{
  width: 100vw;
  height: 11vh;
  line-height: 12vh;
  background:#09222a;
  float: left;
  border-bottom: 1vh solid #5f7f97;
}

.hack-content{
  width: 100vw;
  height: 88vh;
  float: left;
}

.hack-cor-logo img{
  width: 12vw;
  margin-top: 2vh;
  margin-left: 1.5vw;
  float: left;
}

.hack-logo img{
  width: 13vw;
  margin-top: 28vh;
  margin-left: 1vw;
}

.hack-btn-group{
  margin-right: 4vw;
  float: right;
}

.hack-btn {
  float: left;
  padding-left: 10px;
}

.hack-link{
  color: white !important;
  cursor: pointer;
}

.hack-link:hover{
  color: #5f7f97!important;
}

.btn.btn-default{
  height: 8vh;
  line-height: 8vh;
}

.fa{
  margin-left: 2px;
}
.text{
  margin-left: 20px;
}

.demo-wrapper{
  border: none;
}

.heatmap{
  width: 100vw;
  height: 88vh;
}
